.App-link {
  display: inline-block;
    box-sizing: border-box;
    width: 60px;
    padding: 5px;
    background: blue;
  color: #547e89;
  font-size: min(10vw, 15px);
  margin: 0 6px 6px;
  text-decoration: none;
    text-align: center;
  
}

.active {
  color: rgb(255, 128, 0);
}

img {
  
    float: right;
    width:  50%;
    height: 50%;
    object-fit: cover;

}
